@use "style/functions" as fn;
@use "style/mixins" as mix;
@use "style/colors" as c;

.calculator {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: fn.rem(380);
  height: fn.rem(525);
  padding: 1rem;
  background: c.$color-dark;

  border-radius: fn.rem(4);
  box-shadow: 0.5rem 0.5rem 1rem c.$color-shadow;

  &__screen {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: fn.rem(4);

    height: fn.rem(120);
    padding: fn.rem(15);
    background: lighten(c.$color-dark, 2);


    text-align: right;
    overflow: hidden;

    span:first-child {
      font-size: fn.rem(23);
    }

    span:last-child {
      font-size: fn.rem(39);
    }
  }

  &__buttons {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "ac ac divide multiple"
      "seven eight nine minus"
      "four five six plus"
      "one two three match"
      "zero zero point match";

    gap: fn.rem(3);

    button {
      background: c.$color-primary;
      font-size: fn.rem(26);

      &:hover {
        outline: 1px solid c.$color-light;
      }
    }

    #zero {
      grid-area: zero;
    }

    #one {
      grid-area: one;
    }

    #two {
      grid-area: two;
    }

    #three {
      grid-area: three;
    }

    #four {
      grid-area: four;
    }

    #five {
      grid-area: five;
    }

    #six {
      grid-area: six;
    }

    #seven {
      grid-area: seven;
    }

    #eight {
      grid-area: eight;
    }

    #nine {
      grid-area: nine;
    }

    #add {
      grid-area: plus;
    }

    #subtract {
      grid-area: minus;
    }

    #multiply {
      grid-area: multiple;
    }

    #divide {
      grid-area: divide;
    }

    #clear {
      grid-area: ac;
    }

    #point {
      grid-area: point;
    }

    #match {
      background: c.$color-accent;
      grid-area: match;
    }
  }
}
