@use "style/colors" as c;
@use "style/functions" as fn;
@use "style/mixins" as mix;

.pomodoro-clock {
  width: min(fn.rem(525), 90%);
  padding: fn.rem(35);
  background: c.$color-dark;

  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem c.$color-shadow;

  &__top-area {
    margin-bottom: fn.rem(28);
    font-size: fn.rem(37);

    @include mix.mobile {
      font-size: fn.rem(27);
      margin-bottom: fn.rem(16);
    }

    span {
      color: c.$color-accent;
    }
  }

  &__middle-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: fn.rem(30);

    @include mix.mobile {
      margin-bottom: fn.rem(20);
    }

    h4 {
      font-size: fn.rem(27);
      margin-bottom: fn.rem(20);

      @include mix.mobile {
        font-size: fn.rem(20);
      }

      span {
        color: c.$color-accent;
      }

      &:last-child {
        margin: 0;
      }
    }

    input {
      -webkit-appearance: none;
      width: 100%;
      height: fn.rem(8);
      background: c.$color-light;
      margin-bottom: 1rem;

      border-radius: fn.rem(5);
      outline: none;

      @mixin pomodoro-thumb() {
        -webkit-appearance: none;
        appearance: none;

        width: fn.rem(25);
        height: fn.rem(25);
        background: c.$color-primary;

        border-radius: 50%;
        cursor: pointer;
      }

      &::-webkit-slider-thumb {
        @include pomodoro-thumb;
      }

      &::-moz-range-thumb {
        @include pomodoro-thumb;
      }
    }
  }

  &__bottom-area {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 2rem;

      @include mix.mobile {
        font-size: fn.rem(20);
      }
    }

    button {
      margin-right: 0.5rem;
      padding: 0;
      background: unset;

      width: fn.rem(50);
      height: fn.rem(50);

      @include mix.mobile {
        width: fn.rem(30);
        height: fn.rem(30);
      }

      &:hover {
        transform: scale(1.05);
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}
