@use "style/colors" as c;
@use "style/functions" as fn;

.quote-machine {
  display: flex;
  flex-direction: column;

  width: fn.rem(445);
  padding: fn.rem(30);
  background: c.$color-dark;

  border-radius: fn.rem(6);
  box-shadow: 0.5rem 0.5rem 1rem c.$color-shadow;

  &__quote {
    margin-bottom: 1rem;
    font-size: fn.rem(20);
    line-height: 1.3;
  }

  &__author {
    align-self: flex-end;
    margin-bottom: fn.rem(24);
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      border-radius: fn.rem(5);

      &:hover {
        transform: scale(1.02);
      }
    }

    button {
      width: fn.rem(120);
      height: fn.rem(40);
      background: c.$color-accent;
      color: c.$color-dark;
      border-radius: fn.rem(5);

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}
