.QuoteMachine {
    width: 450px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;

    &-Quote {
        font-size: 1.5rem;
    }

    &-Author {
        align-self: flex-end;
    }

    &-Buttons {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 360px) {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        a {
            border-radius: 5px;
            text-decoration: none;
            padding: 8px 18px;

            @media (max-width: 360px) {
                margin-bottom: 10px;
            }
        }

        button {
            color: #fff;
            border: 0;
            border-radius: 5px;
            padding: 8px 18px;
        }
    }
}