@forward "reset";
@use "colors" as c;
@use "mixins" as mix;
@use "functions" as fn;

.app {
  display: grid;
  place-items: center;
  align-items: center;
  grid-template-rows: auto 1fr;

  @include mix.desktop {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
  }

  min-height: 100vh;
  background: linear-gradient(
    315deg,
    c.$color-primary 0%,
    c.$color-accent 100%
  );

  font-family: "Roboto Mono", sans-serif, monospace;
  color: c.$color-light;
}

button {
  color: inherit;
  cursor: pointer;
  border: none;
}

textarea {
  color: inherit;
  resize: vertical;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ScrollBar Styles */
::-webkit-scrollbar {
  width: fn.rem(5);
}

::-webkit-scrollbar-thumb {
  border-radius: fn.rem(6);
  background: c.$color-light;
}
