@forward "reset";
@use "colors" as c;
@use "mixins" as mix;
@use "functions" as fn;

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background: linear-gradient(
    315deg,
    c.$bluish-color 0%,
    c.$greenish-color 100%
  );

  font-family: "Roboto Mono", sans-serif, monospace;
  color: c.$light-color;
}

button {
  color: inherit;
  cursor: pointer;
  border: none;
}

textarea {
  color: inherit;
  resize: vertical;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ScrollBar Styles */
::-webkit-scrollbar {
  width: fn.rem(5);
}

::-webkit-scrollbar-thumb {
  border-radius: fn.rem(6);
  background: c.$light-color;
}
