@use "style/colors" as c;
@use "style/functions" as fn;
@use "style/mixins" as mix;

.markdown-previewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;

  @include mix.desktop {
    flex-direction: row;
    justify-content: center;
  }

  @include mix.mobile {
    margin: 3.5rem 0;
  }

  &__editor {
    width: min(fn.rem(600), 90%);

    @include mix.mobile {
      min-height: fn.rem(260);
    }

    @include mix.desktop {
      width: min(fn.rem(600), 37%);
      aspect-ratio: 10 / 6;
    }

    background: c.$color-dark;
    font-size: fn.rem(15);
    box-shadow: 0.5rem 0.5rem 1rem c.$color-shadow;
    border: fn.rem(20) solid c.$color-dark;
  }

  &__output {
    width: min(fn.rem(800), 90%);

    @include mix.mobile {
      max-height: fn.rem(300);
    }

    @include mix.desktop {
      width: min(fn.rem(800), 49%);
      font-size: fn.rem(20);
      aspect-ratio: 3 / 2;
    }

    background: c.$color-dark;
    box-shadow: 0.5rem 0.5rem 1rem c.$color-shadow;
    border: fn.rem(18) solid c.$color-dark;
    overflow-y: scroll;
    word-break: break-word;

    * {
      all: revert;
    }

    img {
      max-width: min(fn.rem(500), 100%);
    }
  }
}
