@use "style/colors" as c;
@use "style/functions" as fn;
@use "style/mixins" as mix;

.markdown-previewer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;

  @include mix.mobile {
    flex-direction: column;
    margin: 3.5rem 0;
  }

  &__editor {
    width: 90%;
    aspect-ratio: 10 / 6;

    @include mix.desktop {
      width: 37%;
    }

    background: c.$color-dark;
    font-size: fn.rem(15);
    box-shadow: 0.5rem 0.5rem 1rem c.$color-shadow;
    border: fn.rem(20) solid c.$color-dark;
  }

  &__output {
    width: 90%;
    aspect-ratio: 3 / 2;

    @include mix.desktop {
      width: 49%;
    }

    background: c.$color-dark;
    font-size: fn.rem(20);
    box-shadow: 0.5rem 0.5rem 1rem c.$color-shadow;
    border: fn.rem(18) solid c.$color-dark;
    overflow-y: scroll;
    word-break: break-word;

    * {
      all: revert;
    }

    img {
      max-width: min(fn.rem(500), 100%);
    }
  }
}
